<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="../assets/css/bootstrap.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="../assets/css/mdb.min.css">
    <!-- Your custom styles (optional) -->
    <link rel="stylesheet" href="../assets/css/style.css">
    <!-- Extra Css-->
    <link rel="stylesheet" href="../assets/css/mdb-extra.min.css">
    <!-- Scroll Bar Css-->
    <!--    <link rel="stylesheet" href="../assets/css/scroll-bar.css">-->
    <!-- Animated Css -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" /> -->
    <link rel="stylesheet" href="../assets/css/animated.min.css" />

    <script type="text/javascript" src="../assets/js/jquery.min.js"></script>
</head>
<body style="background-color: whitesmoke">


<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <!-- <div class="col-md-8 col-lg-7 col-xl-6">
            </div> -->
            <div class="animated fadeIn card shadow p-4 col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                <form method="POST" action="/login" >
                    <h3 class="mb-3 text-center text-bold">REGISTER</h3>
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="email">Email </label>
                        <input type="email" id="email" value="yellhtut4@gmail.com" name="email" class="form-control form-control-lg" />
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="password">Password</label>
                        <input type="password" id="password" value="123456" name="password" class="form-control form-control-lg" />
                    </div>
                    <!-- Submit button -->
                    <div class="form-outline mb-4 mt-5">
                        <button type="submit" class="btn theme-bg theme-text-color btn-block">Sign Up</button>
                    </div>
                    <div>
                        <p class="d-inline">Already have an account? </p>
                        <a  href="/login" class="d-inline ">login </a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>


<!-- Bootstrap tooltips -->
<script type="text/javascript" src="../assets/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="../assets/js/mdb.min.js"></script>
<!-- Your custom scripts (optional) -->
</body>
</html>