<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Error ... </title>
    <!-- url icon -->
<!--    <link rel="shortcut icon" href="../img/body/me.png" />-->
    <!-- Font Awesome -->
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css"> -->
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="../assets/css/bootstrap.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="../assets/css/mdb.min.css">
    <!-- Your custom styles (optional) -->
    <link rel="stylesheet" href="../assets/css/style.css">
    <!-- Extra Css-->
    <link rel="stylesheet" href="../assets/css/mdb-extra.min.css">
    <!-- Scroll Bar Css-->
<!--    <link rel="stylesheet" href="../assets/css/scroll-bar.css">-->
    <!-- Animated Css -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" /> -->
    <link rel="stylesheet" href="../assets/css/animated.min.css" />

    <script type="text/javascript" src="../assets/js/jquery.min.js"></script>
    <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js" ></script> -->
<!--    <script type="text/javascript" src="../assets/js/socket.io.js" ></script>-->

</head>

<body>

<!-- Start your project here-->

<div class="container-fluid ">
    <div class="">
        <h1 class="text-danger">Page <%= message %></h1>
    </div>
</div>
</div>



<!-- End your project here-->
<!-- <script  src="/chat.js"></script> -->
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="../assets/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="../assets/js/mdb.min.js"></script>
<!-- Your custom scripts (optional) -->


<script>


</script>
<!-- <script type="text/javascript" src="../assets/js/video.js"></script> -->
<script type="text/javascript" src="../assets/js/script.js"></script>
<script type="text/javascript" src="../assets/js/users.js"></script>

</body>
</html>